.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 44vw;
  min-width: 500px;
  height: 44vw;
  min-height: 500px;
}

.square {
  position: relative;
  font-size: 2rem;
  height: 8.3%;
  width: 8.3%;
  color: white;
}

.piece {
  cursor: grab;
}
